body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #092A34;
    height: 250px;
    width: 350px;
}


svg {
    transform: scale(1);
    margin: 30px;
}

p {
    color: white;
    font-family: 'Pangolin', 'Arial', sans-serif;
}

button {
    margin: 25px;
}